.tout {
  display: flex;
  justify-content: space-around;
}
.logo {
  width: 268px;
  height: 33px;
}
.menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.names {
  display: flex;
}
li :hover {
  background-color: lightblue;
}
.part1 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 2.125rem;
  color: #00b39b;
}
.par{display: flex;}
.par p{
    width: 400px;
    margin-right: 40px;
}
h1{ color: #16b9a3;}
.C1{
height: 200px;
width: 300px;
background-color: #00ccb1;
margin-right: 40px;
border-radius: 5px;
}
.C2{
    height: 200px;
    width: 300px;
    background-color: #3d83df;
    margin-right: 40px;
    border-radius: 5px;
}
.C3{
    height: 200px;
    width: 300px;
    background-color: #1b2734 ;
    border-radius: 5px;
}
.part2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}
.B1{
    display: flex;
    flex-direction:column;
}
.part4{
    background-color: aqua;
    display: flex;
    height: 400px;
}
.part3{
  margin-top: 2.5rem;
  margin-right: auto;
  margin-bottom: 3.125rem;
  margin-left: auto;
}
.h{
  float: left;
    width: 33%;
    font-size: 1.625em;
    margin: .25em 0 .35em;
    margin-top: 0.25em;
    margin-right: 0px;
    margin-bottom: 0.35em;
    margin-left: 0px;
    padding-right: 1em;
    color: #00b39b;
}
.X1{
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0;
    width: 67%;
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
}
.part4 p{
    background-color: aliceblue;
    width:100px;
    height:100px;
    margin-right: 20px;
}
.B2{
    display: flex;
}
.B3{
    margin-top: 30px;
}
.f{
    border-top: 1px solid #eef2f2;
    text-align: center;
    padding: 1em 0;
}
.f .clas, p {
    font-size: 12px;
    color: #ababab;
}